:root {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: ivory;
}

.wrapper {
    min-width: 320px;
    max-width: 1140px;
}

